@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  list-style: none; 
  text-decoration: none; 
}
.tou{
    width: 100%;
    height: 4rem;
    img{
        width: 100%;
        height: 100%;
    }
}
.tu{
    display: flex;
    img{
         margin-right: 2rem;
    }
   
}
.to img{
    margin-left: 2rem;
}
.box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        width: 32%;
    }
}
.top{
    width: 100%;
    height: 8rem;
    background: #54D6B4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    width: 100%;
    height: 5rem;
    font-size: 2rem;
    background: #54D6B4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    li{
        width: 16%;
        height: 80%;
        line-height: 3rem;
        color: #DEF5F0;
        text-align: center;
        a{
            color: #fff;
        }
    }
    
}
.nav li:hover{
    color: #fff;
    height: 78%;
    border-bottom: 5px solid #fff;
}
.banner{
    width: 100%;
    img{
        width: 100%;
    }
}
.biao{
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    img{
        margin:0 3rem;
    }
    li{
        font-size: 3rem;
    }
    p{
        font-size: 2rem;
        color: gainsboro;
    }
}
.main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    li{
        width: 32%;
        padding: 3rem 0;
        font-size: 1.8rem;
        text-align: center;
        color: gainsboro;
    }
    span{
        color: #000;
        font-size: 2.5rem;
    }
}
.box{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.sex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    li{
        width: 30%;
        padding: 1rem 0;
        text-align: center;
        font-size: 2.5rem;
    }
}
.nan{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    img{
        width: 30%;
        margin: 2rem 0;
    }
}
